<form [formGroup]="advForm" (submit)="onFormSubmit()">
    <input formControlName="code">
    <input formControlName="name">
    <button [disabled]="advForm.invalid">Save</button>
</form>
<div *ngIf="advForm.valid else invalidForm">
    <h1>Your input is valid</h1>
</div>
<ng-template #invalidForm>
    <h1>Your input is invalid</h1>
</ng-template>

<div>{{ advForm.valid }} value is {{ advForm.value | json}}</div>
<div>{{ advForm.get('code').valid}} value = {{ advForm.get('code').value}}</div>
<div>{{ advForm.get('name').valid}} value = {{ advForm.get('name').value}}</div>

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
    </tr>
    <tr *ngFor="let obj of data;let idx = index;" [ngClass]="{'active': idx%2==0}" appHighlight="blue">
        <td>{{ idx + 1}} {{ obj.code }}</td>
        <td>

            {{ obj.name }}
            <ng-container [ngSwitch]="obj.code">
                <ng-template ngSwitchCase="99999">**</ng-template>
                <ng-template ngSwitchDefault>++++</ng-template>
            </ng-container>
        </td>
    </tr>
</table>
<div>
    {{ current | date: 'dd MMM y' | uppercase}}
</div>
<div>
    {{ '1234567890123456' | trimCreditCard: 'x' : '-' | uppercase}}
</div>